# 20auto-upgrades
# vim: ft=conf
#
# {{ ansible_managed }}

APT::Periodic::Update-Package-Lists "{{ updates_packages_lists }}";                                          
APT::Periodic::Download-Upgradeable-Packages "{{ updates_download | ternary(1, 0) }}";                                 
APT::Periodic::Unattended-Upgrade "{{ updates_apply | ternary(1, 0) }}";                                            
APT::Periodic::AutocleanInterval "{{ updates_autoclean_interval }}";
